<div class="trainer-page">
    <h1>{{ this.username }}'s Pokémon list</h1>
    <button class="back-button" (click)="onPokedexClick()">Back to Pokedex</button>
    <ul class="pokemon-container">
        <li *ngFor="let pokemon of collectedPokemons" class="pokemon-card">
            <div>
                <p class="nationalDex">{{ "#" + pokemon.id?.toString()?.padStart(3, 0 || "") }}</p>
                <h2> {{ pokemon.name.toUpperCase() }} </h2>
            </div>
            <button class="trainer-page-button" (click)="onDeleteClick(pokemon)">Release</button>
            <img [src]="pokemon.sprite" [alt]="pokemon.name">
        </li>
    </ul>
</div>

