.pokemon-container {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(5, 1fr);
}

li {
  list-style: none;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card {
  background-color: lightblue;
}

.nationalDex {
  background: none;
  padding-left: 5px;
  font-size: 15px;
  font-style: italic;
  color: rgb(0 0 0 / 85%);
}

img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
}

img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

h2 {
  font-size: 100%;
}

h1 {
  margin-bottom: 10px;
}

.trainer-page-button {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1.5px solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
  background: transparent;
}

.trainer-page-button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.trainer-page {
  margin: 0 15px;
}

.back-button {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1.5px solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  background: #dddddd;
  margin-bottom: 10px;
}

.back-button:hover {
  background-color: white;
  color: #000000;
}
