nav {
    width: 100%;
    height: 5rem;
    background-color: #0f182e;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

ul {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

li {
    list-style-type: none;
    margin: 0 .3rem;
}

.title {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    color: #ffcc00;
}

.navbar-button {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
  
  .navbar-button:hover {
    color: #fff;
  }
  
  .navbar-button .navbar-button-span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    font-size: 60%;
  }
  
  .navbar-button:hover .navbar-button-span {
    background: transparent;
  }