<nav>
    <h2 class="title">Pokémon Collector</h2>
    <ul>
        <li>
            <a class="navbar-button" *ngIf="loggedIn" (click)="onTrainerClick()"><span class="navbar-button-span">{{ this.username }}'s Pokédex</span></a>
            <!-- <button class="navbar-button" *ngIf="loggedIn" class="trainer" (click)="onTrainerClick()">{{ this.username }}'s Pokédex</button> -->
        </li>
        <li>
            <a class="navbar-button" *ngIf="loggedIn" (click)="onLogoutClick()"><span class="navbar-button-span">Logout</span></a>
            <!-- <button class="navbar-button" *ngIf="loggedIn" (click)="onLogoutClick()">Logout</button>  -->
        </li>
    </ul>
</nav>
