<div class="pokedex-page">
    <ul class="pokemon-container">
        <li *ngFor="let pokemon of pokemons" class="pokemon-card" (click)="onCollectClick(pokemon)">
            <div>
                <p class="nationalDex">{{ "#" + pokemon.id?.toString()?.padStart(3, 0 || "") }}</p>
                <h2> {{ pokemon.name.toUpperCase() }} </h2>
            </div>
            <img class="pokeball" *ngIf="checkIfCaught(pokemon)" src="https://www.freeiconspng.com/uploads/file-pokeball-png-0.png" alt="pokeball"/>
            <img [src]="pokemon.sprite" [alt]="pokemon.name">
        </li>
    </ul>
</div>