.pokemon-container {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(5, 1fr);
}

li {
  list-style: none;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card {
  background-color: lightblue;
}

.nationalDex {
  background: none;
  padding-left: 5px;
  font-size: 15px;
  font-style: italic;
  color: rgb(0 0 0 / 85%);
}

img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
}

img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.pokeball {
  width: 20px;
}

h2 {
  font-size: 100%;
}

.pokedex-page {
  margin: 0 15px;
}
