<div class="login-container">
    <div class="login-card">
        <p>Please enter your username to continue</p>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <fieldset>
                <label for="username">Username: </label>
                <input type="text"
                        ngModel
                        #username="ngModel"
                        name="username"
                        id="username"
                        required
                        minlength="2"
                        maxlength="40"
                        placeholder="John Doe">
            </fieldset>

        <button
            id="btn"
            type="submit"
            [disabled]="attempting || loginForm.form.invalid">
            <span class="noselect">Login</span>
            <div id="circle"></div>
        </button>
    </form>
    <p *ngIf="attempting">Trying to login..</p>
    </div>
</div>