@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin-top: 5rem;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 8px;
    font-size: 22px;
}

label {
    font-size: 18px;
}

input {
    font-size: 16px;
}

.login-button {
    margin-top: 10px;
}

#btn {
    margin-top: 10px;
    background: #eee;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #222;
  }